<wrapper class="footer with-bg-img--light">
    <container>
        <row class="collapsed social">
            <columns small="12" valign="middle">
                <center>
                    <menu>
                        <item><img src="http://placehold.it/25/663399" alt=""></item>
                        <item><img src="http://placehold.it/25/663399" alt=""></item>
                        <item><img src="http://placehold.it/25/663399" alt=""></item>
                        <item><img src="http://placehold.it/25/663399" alt=""></item>
                        <item><img src="http://placehold.it/25/663399" alt=""></item>
                    </menu>
                </center>
            </columns>
        </row>
        <row class="info">
            <columns small="6" valign="middle">
                <img class="small-float-center" src="http://mailing.agrorural.gob.pe/assets/img/agro_rural__logo--white.png">
                <p class="small-text-center"><small>Av. Salaverry 1388, <br>Jesús María, PE 15072<br>+511 205 8030</small></p>
            </columns>
            <columns small="6" valign="middle">
                <menu class="vertical">
                    <item href="http://zurb.com">Portal Web</item>
                    <item href="http://zurb.com">Intranet</item>
                    <item href="http://zurb.com">Aula Virtual</item>
                </menu>
            </columns>
        </row>
        <row class="collapsed copy">
            <columns small="12" valign="middle">
                <spacer size="16"></spacer>

                <center>
                    <small>Toda la información contenida en este mensaje es confidencial y de uso exclusivo de AGRO RURAL.<br>
                        Si ha recibido este mensaje por error, por favor proceda a eliminarlo y notificar al remitente.</small>
                </center>
                
                <spacer size="16"></spacer>
            </columns>
        </row>
    </container>
</wrapper>